extends layout

block content
  div(class='container')
    div(class='navbar')
      div(class='index')
      h1(class='logo')='News'
    h1(class='title')='Le notizie sui temi cari alla comunità Eudora'
    div(class='searchBar')
      input(id='searchInput' type='text' placeholder='Cerca...')
    div(class='grid')
      each article in news
        div(class="news")
          h2(class="newsTitle")= article.title
          div(class="newsDescription")= article.description
          a(href=article.url target="_blank")="Vai all'articolo completo"
    div(class='footer')
      div='Developed by Stefano Silvestrini'
      a(href='https://newsapi.org')="Powered by News API"
